.aboutBox{
	border: none;
	color: black;
	margin: 28px;
	height: 200px;
	width: 500px;
}

.aboutBox:hover{
	background-color: green;
	color: white;
	transition: 0.6s;
}

.Heading{
	color: black;
	font-size: 30px;
	padding-left: 12px;
}

.Message{
	padding : 8px;
	padding-left: 12px;

}